# Copy this file to .env, fill the values locally, and keep .env uncommitted.
VAULT_ADDR=https://testv0-public-vault-c902eb3e.35c3df3d.z1.hashicorp.cloud:8200
VAULT_NAMESPACE=admin
VAULT_TOKEN=
TFE_TOKEN=
TFE_ORGANIZATION=
GITHUB_TOKEN=
GITHUB_OWNER=romanzamora
